@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* General Elements*/
* {
    font-family: Montserrat, Roboto, Helvetica, sans-serif;
    font-size: 16px;
    color: whitesmoke;
    border: 0;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    object-fit: contain;
}

.lst-logo {
    display: flex;
    flex-direction: row;
    height: 75%;
}

.lst-logo * {
    height: 100%;
    width: 100%;
}

.lst-logo-text {
    height: 60%;
    margin-left: 10%;
}

/* Header */
header {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: max(7vh, 5vw);
    width: 100%;
    top: 0;
    background-color: rgba(31, 35, 38, 0.85);
    z-index: 100;
    padding: 1vh;
}

header > * {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 10%;
}

nav * {
    margin-right: 25%;
    text-decoration: none;
    font-weight: bolder;
    font-size: max(15px, 1.3vw);
}

.header-icon {
    display: flex;
    align-items: center;
}

.header-icon img {
    max-height: 8vh;
}

header a:hover {
    color: gold;
    text-shadow: 0 0 25px white;
}

/* Footer Styles */
footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
    height: 21vh;
    width: 100%;
    bottom: 0;
    background-color: rgba(31, 35, 38);
    z-index: 100;
}
footer * {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer > .lst-logo {
    align-items: center;
    justify-content: center;
    max-height: 7vh;
}

.footer-wrapper {
    flex-direction: column;
}
.footer-countdown p {
    font-size: 20px;
}

.footer-wrapper p {
    opacity: 85%;
    line-height: 1.2em;
}

/* Content */
body {
    background: url(assets/ERROR/ERROR%20BG.png);
    background-size: cover;
    background-attachment: local;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    width: 50vw;
    padding: 5%;
    margin: 0 auto;
}
.container p {
    padding: 5%;
}
.container a {
    padding: 2%;
    background: red;
    border-radius: 8px;
}
